html,
body {
  padding: 0;
  margin: 0;
}
/* header */
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  background-color: #48c0fd;
}

.btn-nav {
  width: 50%;
  font-weight: bold;
  background: #48c0fd;
  margin: 10px 10px;
  color: #fff;
  border-radius: 12px;
}
.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  background-color: blue;
}



.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
/*Responsive*/
#nav-mb button {
  display: none;
}
@media (max-width: 830px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;
    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }
}
/* body */
#vung_1{
    position: relative;
    width: 100%;
    height: 298px;
    margin-top: 30px;
    background: linear-gradient(180deg, #144C6E 0%, rgba(37, 196, 241, 0) 100%), #D9D9D9;
}
#vung_1 .text{
    color: #FFFFFF;
    left: 8.2%;
    font-weight: 700;
}
#vung_1 #text_1{
    position: absolute;
    width: 36%;
    height: 55px;
    top: 32.3px;
    font-size: 23.3px;
    line-height: 27px;
}
#vung_1 #text_2{
    position: absolute;
    width: 36%;
    height: 58px;
    top: 100px;
    font-size: 23.3px;
}
#vung_1 #text_3{
    position: absolute;
    width: 45%;
    height: 38px;
    top: 165px;
    font-size: 16px;
    line-height: 20px;
}
#vung_1 img{
    position: absolute;
    width: 335px;
    height: 298px;
    left: 55%;
    top: 1x;
}
.bt_muaNgay{
    position: absolute;
    width: 144px;
    height: 37px;
    left: 142px;
    top: 232px;
    background: #FFF240;
    border-radius: 8px ;
    border: yellow;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
}
#vung_2{
    position: relative;
    width: 100%;
    height: 255px;
    margin-top:30px;
    background: #E7F2F6;
}
#text_4{
    position: absolute;
    height: 30px;
    left: 32.5%;
    right: 16.25%;
    top: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #0075FF;
    justify-content: center;
    text-align: center;
}
.solieu{
    position: absolute;
    height: 40px;
    top: 127px;
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
}
#soLieu_1{
    left: 14%;
}
#soLieu_2{
    left: 45%;
}
#soLieu_3{
    left: 75%;
}
#vung_2 .text{
    position: absolute;
    height: 19px;
    top: 182px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    width: 300px;
    text-align: center;
}
#vung_2 #text_1{
    left: 8%;
}
#vung_2 #text_2{
    left: 39%;
}
#vung_2 #text_3{
    left: 71.5%;
}
#vung_3{
    position: relative;
    width: 100%;
    height: 748px;
    margin-top: 30px;
    background: linear-gradient(180deg, rgba(0, 144, 184, 0.8) 0%, rgba(17, 60, 64, 0.8) 100%);
}
#vung_3 img{
    position: absolute;
    width: 454px;
    height: 318px;
    left: 3%;
    top: 20px;
}
#vung_3 #text_1{
    position: absolute;
    width: 634px;
    height: 25px;
    left: 45%;
    top: 36px;
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
}
#vung_3 #text_2{
    position: absolute;
    width: 560px;
    height: 37px;
    left: 45%;
    top: 80px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
#vung_3 #thongTin{
    position: absolute;
    width: 29%;
    min-width: 300px;
    height: 276px;
    top: 446px;
    background: #FFFFFF;
    border-radius: 8px;
}
.iobSearch{
    left: 3%;
}
.recruitment{
    left: 35%;
}
.managedTalend{
    left: 67%;
}
#thongTin img{
    position: absolute;
    width: 160px;
    height: 114px;
    top: 10px;
    left: 10px;
}
#thongTin .text_head{
    position: absolute;
    width: 16%;
    height: 26px;
    left: 169px;
    top: 36px;
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: #0090B8;
}
#thongTin .text{
    position: absolute;
    width: 27%px;
    height: 38px;
    left: 10px;
    top: 136px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
#thongTin .bt_timHieu{
    position: absolute;
    width: 80%;
    height: 40px;
    left: 10%;
    top: 208px;
    background: #FFF240;
    border-radius: 8px;
    border: #FFF240;
    font-weight: 700;
    font-size: 16px;
    justify-content: center;
}
/* footer */
.logo-footer img {
    width: 296px;
    margin-bottom: 10px;
  }
  footer {
    margin-top: 40px;
    background-color: #2A363B;
  }
  
  .copyright {
    text-align: center;
  }
  .content1_2 img {
    width: 150px;
    margin-left: -12px;
  }
  .blue {
    color: #0075ff;
  }
  h3,p{
      color: white;
  }
  .hover:hover{
      text-decoration: underline;
  }
/* reponsive */
@media screen and (max-width: 990px){
    #text_4{
        left: 24%;
        font-size: 23px;
    }
    #vung_2 .text{
        width: 200px;
    }
    #vung_3{
        height: 1120px;
    }
    #vung_3 #text_1{
        top: 380px ;
        left: 3%;
        width: 90%;
        line-height: 23px;
    }
    #vung_3 #text_2{
        top: 435px ;
        left: 3%;
        width: 90%;
    }
    #vung_3 #thongTin{
        width: 346px;
        top: 515px;
    }
    .iobSearch{
        left: 3%;
        margin-top: 0px;
    }
    .recruitment{
        left: 50%;
        margin-top: 0px;
    }
    .managedTalend{
        left: 27%;
        margin-top: 300px;
    }
}
@media screen and (max-width: 768px){
    #vung_1 img{
        display: none;
    }
    #vung_1 #text_1, #vung_1 #text_2,#vung_1 #text_3  {
        width: 80%;
        font-size: 20px;
    }
    #vung_1 #text_3{
        font-size: 16px;
    }
    #text_4{
        left: 15%;
        font-size: 22px;
    }
    #vung_2 .text{
        width: 190px;
    }
    #vung_3{
        height: 1420px;
    }
    .iobSearch{
        left: 3%;
        margin-top: 0px;
    }
    .recruitment{
        left: 3%;
        margin-top: 300px;
    }
    .managedTalend{
        left: 3%;
        margin-top: 600px;
    }
    #footer {
        margin-top: 660px;
    }
}
@media screen and (max-width: 650px){
    #vung_2 .text{
        width: 159px;
    }
}
@media screen and (max-width: 580px){
    #text_4{
        left: 15%;
        font-size: 20px;
    }
    #vung_2 .text{
        width: 135px;
    }
    .solieu{
        font-size: 28px;
    }
}
@media screen and (max-width: 480px){
#text_4{
        left: 10%;
        font-size: 18px;
    }
#vung_2 .text{
        width: 100px;
    }
 #vung_3 img{
        width:375px ;
        height: auto;
        left: 0px;
    }
.solieu{
        font-size: 25px;
    }
#thongTin img{
        width: 160px;
        height: 114px;
    }
}
