body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
}
#container {
  position: relative;
}
.searchzone {
  position: absolute;
  background-image: url(./image/background-JS.png);
  position: absolute;
  width: 100vw;
  height: 264.67px;
  left: 0px;
  top: 7.3vh;
  background-size: cover;
  filter: var(#eae9e9);
}
#btntimungvien {
  color: #ffffff;
  background-color: #48c0fd;
  position: absolute;
  width: 33.3vw;
  height: 8vh;
  left: 32vw;
  top: 6.4583vh;
  font-weight: bolder;
  border-radius: 10px;
  border: 0;
  font-size: x-large;
  text-shadow: black 1.5px 1.5px;
}
#nhapgiatri {
  position: absolute;
  width: 35.364583vw;
  height: 5.3vh;
  left: 4.53125vw;
  top: 18.49vh;
  padding-left: 4vw;
  z-index: 1;
}
#diadiem {
  position: absolute;
  width: 26.042vw;
  height: 6vh;
  left: 50.20833vw;
  top: 18.49vh;
  padding-left: 3vw;
}
#kinhlup {
  position: absolute;
  left: 6vw;
  top: 19vh;
  width: 2vw;
  height: 2vw;
}
.defaultvalue {
  color: #d41717;
}
#btnTimkiem {
  position: absolute;
  width: 15.7vw;
  height: 7vh;
  left: 81.5625vw;
  top: 18.49vh;
  background-color: #48c0fd;
  color: #ffffff;
  font-weight: bolder;
  border-radius: 10px;
  border: 0;
  font-size: larger;
  text-shadow: black 1.5px 1.5px;
}
.container {
  position: relative;
  background: #ffffff;
  font-family: "roboto";
  width: 100vw;
  height: 8.073vh;
  left: 0px;
  top: 0px;
}
#header img {
  width: 23.1771vw;
  height: auto;
  top: 0.46875vh;
  left: 1.1vw;
}
.content_tuyendung {
  width: 10.42vw;
  height: auto;
  left: 25.78125vw;
  top: 0.53vh;
}
.content_timhoso {
  width: 10.42vw;
  left: 36.2vw;
  height: auto;
  top: 0.53vh;
}
.content_lienhe {
  width: 10.42vw;
  left: 46.6146vw;
  height: auto;
  top: 0.53vh;
}
#header p {
  position: absolute;
  top: 17px;
  height: 28px;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
}
#header a {
  text-decoration: none;
  color: #000000;
}
.bt_Đăngky {
  position: absolute;
  width: 9.375vw;
  height: 3.125vh;
  left: 65.3vw;
  top: 2.24vh;
}
.bt_Đăngnhap {
  position: absolute;
  width: 9.375vw;
  height: 3.125vh;
  left: 75.78125vw;
  top: 2.24vh;
}
.bt_Nguoitimviec {
  border-radius: 20px;
  position: absolute;
  width: 12.5vw;
  height: 6vh;
  left: 86.3021vw;
  top: 2.85vh;

  border: 1px solid rgba(36, 0, 255, 1);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  background-color: #2f55d4;
}
.bt_Đăngky,
.bt_Đăngnhap {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  position: absolute;
  width: 120px;
  height: 40px;
  top: 22.3px;
  background-color: rgba(72, 192, 253, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
#gach_ngang {
  position: absolute;
  width: 100vw;
  left: 0px;
  top: 12.3vh;
  background-color: #48c0fd;
  height: 3px;
}
.display {
  position: absolute;
}
.content {
  background-color: #ffffff;
}
#logo {
  position: absolute;
  width: 23.1771vw;
  height: 5.8854vh;
  left: 1.666vw;
  top: 0.73vh;
}
.khungchua {
  display: flex;
  background-color: #eae9e9;
  position: relative;
  top: 44.3vh;
  flex-wrap: wrap;
}
.khungchuaheader {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
}
.boloc {
  flex-basis: 30%;
  margin-left: 5vw;
  font-weight: bold;
  justify-content: center;
}
.tuyendung {
  flex-basis: 60%;
  margin-left: 5vw;
  font-weight: bold;
}
.khungchuacontent {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.khungcontentboloc {
  background-color: #ffffff;
  margin-left: 2vw;
  border-radius: 10px;
  width: 100%;
  flex-basis: 30%;
  padding: 5vh;
  height: fit-content;
  line-height: 2vw;
}
.khungcontenttuyendung {
  background-color: #ffffff;
  flex-basis: 60%;
  border-radius: 10px;
  margin-left: 2vw;
  margin-right: 2vw;
}
.contentnganhnghe {
  overflow: scroll;
  height: 20vh;
}
.button {
  border-radius: 10px;
  border: 0;
}
.pic1 {
  width: 40vh;
  height: auto;
  margin-top: 0;
}

.tablebutton {
  color: #ffffff;
  background: #2fd449;
  float: right;
  border-radius: 15px;
  margin-right: 5vw;
  width: 7vw;
  height: 3vw;
  border: 0;
  font-weight: bold;
  text-shadow: black 1.2px 1.2px;
}
.pic1 {
  height: auto;
  width: 10vw;
}
table {
  padding: 2vw;
  text-align: left;
}
.tdcontent {
  width: 50vw;
}
.tdbutton {
  padding-left: 3vw;
}
.kinhnghiem {
  width: 15vw;
  padding-top: 0.5vw;
}
.thfl {
  width: 5vw;
}
#kinhlup {
  position: absolute;
  z-index: 2;
}
#search {
  position: relative;
}
#icdiadiem {
  position: absolute;
  left: 51vw;
  top: 19vh;
  width: 2vw;
  height: 2vw;
  z-index: 2;
}
#icboloc {
  position: absolute;
  left: 2.2vw;
  top: 1.3vh;
  width: 2vw;
  height: 2vw;
  z-index: 2;
}
th {
  font-weight: normal;
  margin-left: 0;
}
