html,
body {
  padding: 0;
  margin: 0;
}

/* header */
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 0px;
  width: 150px;
  background-color: #48c0fd;
}
.account {
  width: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
}
.account span {
  margin: 0 25px;
}
.account .fa-circle-user {
  font-size: 30px;
  margin-left: -13px;
}
.account .fa-sort-down {
  position: absolute;
  top: 13px;
  right: 9px;
}

.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 0px;
  background-color: blue;
}
.list-menu-pc {
  padding: 5px 0;
  font-size: 12px;
  border-radius: 12px;
  background-color: white;
  padding-left: 10px;
  position: absolute;
  right: 158px;
  top: 69px;
  width: 16%;
  border: 1px solid black;
  z-index: 1000;
  margin-left: 10px;
}
.menu-list-row a i {
  width: 15px;
}
.log-out {
  margin-left: 50%;
  margin-top: 5px;
}
.menu-list-row .fa-circle-user {
  font-size: 20px;
}
.name-account {
  font-size: 15px;
  font-weight: bold;
}
.name-account span {
  font-weight: bold;
  color: #0075ff;
}
.list-menu-pc span {
  padding-left: 8px;
}

.border {
  margin: 4px 0;
  border: 0.5px solid black;
  width: 94%;
  background: black;
}

.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
.is-display-none {
  display: none !important;
}
.display {
  display: block !important;
}
/*Responsive*/
#nav-mb button {
  display: none;
}
@media (max-width: 830px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;

    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }

 
}
  /* body */
  
  .blue{
    background-color: #48C0FD;
    height: 4vw;
  }
  .bg{
    background-image: url(./image/dangtuyen-cg.png);
    background-size: cover;
    height: 10vw;
    margin: 2% 5%;
  }
  .title{
    background-color:#48c0fd;
    width: 90.7%;
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    margin: 4%;
    font-size: large;
    padding: 2%;
    border-radius: 10px;
  }
  
  .max-div{
    display: flex;
    justify-content: space-between;
    /* background-color: #FFFFFF; */
    margin: 0 5%;
  }
  
  
  .div-form{
    flex-basis: 55%;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid;
  }
  
  
  .div-infor{
    display: flex;
    flex-basis: 35%;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .form-label{
    width: 30%;
    text-align: right;
  }
  .form-input{
    width: 60%;
    margin: 0 4%;
    border: 2px solid #EAE9E9;
    border-radius: 5px;
    margin-bottom: 3%;
  }
  .max-div-checkbox1{
    display: flex;
    flex-wrap: nowrap;
  }
  .div-checkbox{
    display: flex;
    flex-basis: 33%;
    flex-direction: column;
    text-align: center;
  }
  
  .btnluutin{
    background-color: rgba(216, 29, 29, 1)    ;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1% 3%;
    border-radius: 7px;
    border: #FFFFFF solid;
    margin-left: 4%;
    margin-bottom: 4%;
  }
  .div-profile{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5%;
    flex-basis: 15%;
    border: 1px solid;
  }
  
  .ic-profile{
    text-align: center;
  }
  #ic-profile{
    height: 10vw;  
  }
  #name{
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
  }
  .div-table-infor{
    display: flex;
    padding-right: 0;
    justify-content: space-evenly;
  }
  
  .number{
    text-align: right;
    flex-basis: 45%;
  }
  .div-table{
    flex-basis: 45%;
  }
  .div-manage{
    background-color: #FFFFFF;
    border-radius: 10px;
    flex-basis: 25%;
    border: 1px solid;
  }
  
  .quanly-content{
    padding: 5%;
  }
  .emty{
    flex-basis: 45%;
  }
  #quanly{
    text-align: center;
    background-color: rgba(47, 85, 212, 1);
    border: rgba(47, 85, 212, 1) solid 1px;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    padding: 5% 0;
  }
  .quanly-title{
    color: #0075FF;
    font-weight: bold;
  }
  .done{
    margin-bottom: 4%;
  }
  .div-profile > p{
    color: #2A363B;
  }
  .number > p{
    color: #2A363B;
  }
  .div-table > p{
    color: #2A363B;

  }
  .quanly-click:hover{
    font-weight: bold;
    color: #0075FF;
  }
  #insert-logo{
    width: 58%;
    margin-right: 0;
  }
  .res-img{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 15%;
    padding-left: 5%;
    padding-top: 2%;
  }
  .res-infor-img{
    
    width: 100%;
    display: none;
    justify-content: space-between;
    background-color:#FFFFFF ;
    margin-bottom: 4%;
    border-radius: 10px;
    padding: 2%;
  }
  .res-content{
    text-align: left;

  }
  .res-infor{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    padding: 5%;
  }

  
  @media (min-width:1280px) {
    .max-div-checkbox2{
      display: none !important;
    } 
  }
  

  @media (max-width:480px) {
    .max-div-checkbox1{
      display: none !important;
    }
    .max-div-checkbox2{
      padding-left: 0;
    }
    .form-input, .form-label{
      width: 45% !important;
    }
    #insert-logo{
      width: 44% !important;
    }
    .div-checkbox{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 27%;
      padding-right: 10%;
    }
    .max-div-checkbox2 > .div-checkbox > .div-checkbox-child{
      margin-right: 5%;
      text-align: center;
    }
    
  }
  @media (max-width: 837px) {
    .res-infor-img{
      display: flex !important;
    }
    .max-div{
      flex-wrap: wrap;
    }
    .div-form{
      flex-basis: 100%;
    }
    .div-infor{
      flex-basis: 100% ;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 5%;
    }
    .emty{
      display: none;
    }
    .div-profile{
      flex-basis: 50%;
    }
    .div-manage{
      flex-basis: 100%;
    }
    
    .number > p{
      padding-top: 95%;
    }
    .bg, .blue{
      display: none;
    }
    .div-profile{
      display: none;
    }
    
  }
  /* footer */
  .logo-footer img {
    width: 296px;
    margin-bottom: 10px;
  }
  .pd-left {
    padding-left: 45px !important;
  }
  footer {
    margin-top: 30px;
  }
  .background {
    background-color: #2a363b;
  }
  .copyright {
    text-align: center;
    margin-bottom: 0;
    font-size: 13px;
  }
  .content1_2 img {
    width: 150px;
    margin-left: -12px;
  }
  .white {
    color: white;
  }
  .blue {
    color: #0075ff;
  }
  
  .hover:hover {
    text-decoration: underline;
  }
  @media (max-width: 480px) {
    .pd-left {
      padding-left: 15px !important;
    }
  }
  

  .ntd > button {
    height: 47px;
  }
  
  
