.logo-footer img {
  width: 296px;
  margin-bottom: 10px;
}
footer {
  margin-top: 30px;
}
.action-help {
  background-image: url(./Image/tải\ xuống.jpg);
  background-size: cover;
  padding: 15px 0;
  text-align: center;
}
.box-tele {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 222px;
}
.box-tele input {
  border: none;
  background: none;
}
.box-tele span {
  display: inline-block;
  background-color: gray;
  width: 30px;
}
.center-position {
  display: flex;
  justify-content: center;
}
.copyright {
  text-align: center;
}
.content1_2 img {
  width: 150px;
  margin-left: -12px;
}
.blue {
  color: #0075ff;
}
