/* Support */
html,
body {
  margin: 0;
  padding: 0;
}
#support {
  position: absolute;
  top: 14vh;
  width: 100%;
}
.container1 {
  position: relative;
  width: 100%;
  height: auto;
  background: #ffffff;
  font-family: "roboto";
  z-index: 1;
}
/* header */
/* Header */
html,
body {
  padding: 0;
  margin: 0;
}

/* header */
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
  width: 30vw;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  background-color: #48c0fd;
}

.btn-nav {
  width: 50%;
  font-weight: bold;
  background: #48c0fd;
  margin: 10px 10px;
  color: #fff;
  border-radius: 12px;
}
.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  background-color: blue;
}

.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
/*Responsive*/
#nav-mb button {
  display: none;
}
@media (max-width: 830px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;
    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }
}

#support {
  position: absolute;
  top: 11vh;
}
.rec465 {
  display: flex;
  background-color: #deefff;
  height: 66.7px;
}
.lienhe {
  flex: 1;
  text-align: center;
  padding-top: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
}
.lienhe1 {
  text-decoration: none;
  color: #000000;
}
.lienhe1:hover {
  font-weight: 700;
  color: #2f55d4;
}
.hotro {
  flex: 1;
  text-align: center;
  padding-top: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 35px;
  color: #2f55d4;
}
.line {
  position: absolute;
  width: 9%;
  height: 0px;
  right: 20vw;
  top: 7.3vh;
  background-color: #48c0fd;
  border: 3px solid #48c0fd;
}
.content-1 {
  text-align: center;
  background: linear-gradient(180deg, #48c0fd 0%, #cfeefe 100%);
  margin-top: -35px;
  width: 100%;
  height: 400px;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 53px;
  line-height: 94px;
  letter-spacing: 0.05em;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 100px;
}
#input {
  width: 484px;
  height: 40px;
  border-radius: 10px;
  color: #9c9898;
  padding-left: 50px;
  margin-left: 120px;
}
#search_icon {
  position: absolute;
  height: 3vh;
  left: 34vw;
  top: 20.5vh;
}
.button {
  width: 120px;
  height: 52px;
  margin-left: 10px;
  background: #48c0fd;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: 0.05em;
  color: #ffffff;
  border: 1px solid #000000;
}
.button:hover{
  background-color: rgb(47, 0, 255);
  color: white;
}
.content-2 {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;

  line-height: 59px;
  letter-spacing: 0.05em;
}
h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 33px;
  line-height: 59px;
  letter-spacing: 0.05em;
}
.content-3 {
  display: flex;
  text-align: center;
}
.content_3-1 {
  flex: 1;
  margin-left: 200px;
  padding-top: 40px;
  box-sizing: border-box;
  width: 200px;
  height: 180px;
  background: linear-gradient(180deg, #48c0fd 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #000000;
  border-radius: 50px 0px 0px 50px;
}
.content_3-1:hover{
  background-color: rgb(47, 0, 255);
  color: white;
}
.content_3-2:hover{
  background-color: rgb(47, 0, 255);
  color: white;
}
.content_3-3:hover{
  background-color: rgb(47, 0, 255);
  color: white;
}
.content_3-2 {
  flex: 1;
  width: 200px;
  height: 180px;
  padding-top: 40px;
  background: linear-gradient(180deg, #48c0fd 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #000000;
}
.content_3-3 {
  flex: 1;
  margin-right: 200px;
  padding-top: 40px;
  box-sizing: border-box;

  width: 200px;
  height: 180px;

  background: linear-gradient(180deg, #48c0fd 0%, rgba(255, 255, 255, 0) 100%);
  border: 1px solid #000000;
  border-radius: 0px 50px 50px 0px;
}
#support p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media screen and (max-width: 600px) {
  .content-1 {
    margin-top: -25px;
  }
  .line {
    position: absolute;
    right: 15.5vw;
    top: 9.5vh;
    width: 15vw;
  }
  h1 {
    font-size: 40px;
  }
  #search_icon {
    position: absolute;
    width: 8vw;
    left: 11vw;
    top: 44.5vh;
  }
  #input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    color: #9c9898;
    margin: auto;
  }
  .button {
    height: 40px;
  }
  h2 {
    font-size: 25px;
  }
  p {
    font-size: 14px;
  }

  .content_3-1 {
    margin-left: 0;
    height: 120px;
    padding-top: 10px;
  }
  .content_3-2 {
    height: 108px;
    padding-top: 10px;
  }

  .content_3-3 {
    margin-right: 0;
    height: 120px;
    padding-top: 10px;
  }
  .pic {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .content-1{
    position: absolute;
    top: -4.2vh;
  }
  
  h1 {
    font-size: 40px;
  }
  .abc {
    position: absolute;
    top: 90vh;
    width: 100%;
  }
  #search_icon {
    position: absolute;
    font-size: 18px;
    left: 16vw;
    top: 44vh;
  }
  #input {
    width: 200px;
    height: 35px;
    border-radius: 10px;
    color: #9c9898;
    margin: auto;
  }
  .button {
    height: 40px;
  }
  h2 {
    font-size: 25px;
  }
  #support p {
    font-size: 12px;
  }
  .content-3{
    position: absolute;
    top: 30vh;
  }
  .content_3-1 {
    margin-left: 0;
    height: 120px;
    padding-top: 10px;
  }
  .content_3-2 {
    height: 120px;
    padding-top: 10px;
  }

  .content_3-3 {
    margin-right: 0;
    height: 120px;
    padding-top: 10px;
  }
  .pic {
    width: 50px;
    height: 50px;
  }
  #menu {
    position: absolute;
    left: 43vw;
  }
  #support {
    position: absolute;
    top: 6vh;
  }
  .line {
    position: absolute;
    left: 67.6vw;
    top: 5vh;
    width: 15vw;
  }
}
.space {
  position: absolute;
  top: 12.2vh;
  width: 100%;
}
/* Footer */
.logo-footer img {
  width: 296px;
  margin-bottom: 10px;
  padding-left: 30px;
}
footer {
  position: absolute;
  top: 108vh;
  width: 100%;
  padding-top: 10px;
  background-color: #2a363b;
  padding-left: 20px;
}
.container1 {
  background-color: #2a363b;
}
.copyright {
  text-align: center;
}
.content1_2 img {
  width: 150px;
  margin-left: -12px;
}
.row{
  padding-left: 10%;
}
.blue {
  color: #0075ff;
}
h3 {
  color: white;
}
p {
  color: white;
}
.hover:hover {
  text-decoration: underline;
}
@media screen and (max-width: 900px) {
  footer {
    position: absolute;
    top: 100vh;
    padding-top: 10px;
  }
  .content_3-2 {
    height: 120px;
  }
  #search_icon {
    position: absolute;
    top: 21.5vh;
    left: 15vw;
  }
  #support p {
    font-size: 14px;
  }
  .content-1 {
    margin-top: -32px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    position: absolute;
    top: 65vh;
    padding-top: 10px;
  }
  .content-3{
    position: absolute;
    top: -60vh;
    width: 100%;
  }
}
