html,
body {
  margin: 0;
  padding: 0;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  background-color: #48c0fd;
}
.account {
  width: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
}
.account span {
  margin: 0 25px;
}
.account .fa-circle-user {
  font-size: 30px;
  margin-left: -13px;
}
.account .fa-sort-down {
  position: absolute;
  top: 13px;
  right: 9px;
}

.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  height: 47px;
  color: #ffffff;
  background-color: blue;
}
.list-menu-pc {
  padding: 5px 0;
  font-size: 12px;
  border-radius: 12px;
  background-color: white;
  padding-left: 10px;
  position: absolute;
  right: 158px;
  top: 69px;
  width: 16%;
  border: 1px solid black;
  z-index: 1000;
  margin-left: 10px;
}
.menu-list-row a i {
  width: 15px;
}
.log-out {
  margin-left: 50%;
  margin-top: 5px;
}
.menu-list-row .fa-circle-user {
  font-size: 20px;
}
.name-account {
  font-size: 15px;
  font-weight: bold;
}
.name-account span {
  font-weight: bold;
  color: #0075ff;
}
.list-menu-pc span {
  padding-left: 8px;
}

.border {
  margin: 4px 0;
  border: 0.5px solid black;
  width: 94%;
  background: black;
}

.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 97%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
.is-display-none {
  display: none !important;
}
.display {
  display: block !important;
}

/*Responsive*/
#nav-mb button {
  display: none;
}

/* Header */

/* menu-account */
.emp-menu {
  height: 50px;
  align-items: center;
  background-color: #deefff;
  border-top: 2px solid #48c0fd;
}
.box-menu-pc {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.main {
  margin: 50px 5%;
}
.method {
  background-color: white;
  margin: 5px 12px;
  border: none;
}
.method > h5 {
  text-align: left;
  font-size: 15px;
  margin-bottom: -8px;
}
.method > span {
  font-size: 10px;
}
.taikhoan {
  border-left: 1px solid black;
  margin: 35% 10%;
  padding-left: 5px;
}
.red {
  color: red;
}
/* change--pass */

.form-change-pass {
  width: 100%;
}
.row-pass {
  font-size: 12px;
  
}
.input {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #b6c0c5;
  margin-bottom: 10px;
  padding-left: 5px;
}
.name-pass {
  margin-bottom: 5px;
}

.check {
  width: 16px;
  height: 16px;
}
.show-pass {
  position: absolute;
  top: 0px;
  margin-left: 5px;
  font-weight: normal;
}
.btn-mk {
  margin-top: 15px;
  padding: 3px 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  background-color: #2f55d4;
  color: white;
  border-radius: 2px;
}
.header-change-pass {
  margin-bottom: 20px;
}
.method:hover {
  cursor: pointer;
  background-color: #edf9ff;
}

/* end-change-pass */
.mr-bot {
  margin-bottom: 15px;
}
/* user */
.user {
  width: 88%;
  margin-right: 10px;
}
.save {
  background-color: #48c0fd;
  color: white;
  width: 44px;
  height: 22px;
  text-align: center;
  border-radius: 2px;
  border: 0px;
}
.border-user {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin: 10px 0px;
  display: block;
}
.big {
  margin: 20px 0;
  height: 2px;
}
.birth-input {
  width: 29%;
  border-radius: 2px;
  border: 1px solid #b6c0c5;
}
.date-signup {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  color: #9b9b9b;
  border: none;
  padding: 5px 0px;
}
/* end-user */
.img-profile {
  width: 100%;
}
.img-profile > i {
  margin: 0% 36%;

  font-size: 70px;
}
.img-profile > p {
  text-align: center;
}
.border-menu {
  content: "";
  background-color: #48c0fd;
  position: absolute;
  top: 48px;
  left: 113px;
  height: 2px;
  width: 92px;
}
.emp-menu > div > li:first-child {
  font-weight: bold;
}
/* footer */
.logo-footer img {
  width: 296px;
  margin-bottom: 10px;
}
footer {
  margin-top: 30px;
}
.background {
  background-color: #2a363b;
}
.pd-left {
  padding-left: 45px !important;
}
.copyright {
  text-align: center;
  margin-bottom: 0;
  font-size: 13px;
}
.content1_2 img {
  width: 150px;
  margin-left: -12px;
}
.white {
  color: white;
}
.blue {
  color: #0075ff;
}

.hover:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;
    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }
  .main {
    margin: 10px 5% !important;
  }
  .taikhoan {
    margin: 0px !important;
    border: none !important;
  }
  .method {
    border-left: 1px solid black !important;
  }
  .emp-menu {
    display: block !important;
    width: 100%;
    overflow-x: auto;
  }
  .box-menu-pc {
    display: none !important;
  }
  .box-menu-mb {
    display: block !important;
    width: 823px;
    margin-top: 10px;
  }
  .box-menu-mb > span {
    margin: 0px 20px;
  }
  .user {
    width: 81% !important;
  }
  .birth-input {
    width: 26% !important;
  }
  .img-profile {
    margin-top: 20px;
  }
  .pad0 {
    padding: 0px !important;
  }
  .pd-left {
    padding-left: 15px !important;
  }
}
