body,
html {
  padding: 0;
  margin: 0;
  font-family: roboto;
  background-color: #e9e9ea;
}

/* header */
.op {
  border-bottom: 3px solid #48c0fd;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.logo img {
  width: 100%;
}
.nav-pc {
  display: flex;
  align-items: center;
  height: 118%;
}
.nav-pc li {
  margin-right: 30px;
}
.right-main-menu {
  display: flex;
}
.right-main-menu button {
  margin-left: 10px;
}
.btn-menu {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  width: 150px;
  background-color: #48c0fd;
  height: 47px;
}
.account {
  width: 180px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
}
.account span {
  margin: 0 25px;
}
.account .fa-circle-user {
  font-size: 30px;
  margin-left: -13px;
}
.account .fa-sort-down {
  position: absolute;
  top: 13px;
  right: 9px;
}
.btn-nav {
  width: 50%;
  font-weight: bold;
  background: #48c0fd;
  margin: 10px 10px;
  color: #fff;
  border-radius: 12px;
}
.relative {
  position: relative;
}
.ntd {
  border-radius: 12px;
  border: 1px solid rgba(36, 0, 255, 1);
  font-size: 90%;
  font-weight: bold;
  color: #ffffff;
  padding: 15px 0;
  background-color: blue;
}

.menu-list-row a i {
  width: 15px;
}
.log-out {
  margin-left: 50%;
  margin-top: 5px;
}
.menu-list-row .fa-circle-user {
  font-size: 20px;
}
.name-account {
  font-size: 15px;
  font-weight: bold;
}
.name-account span {
  font-weight: bold;
  color: #0075ff;
}
.list-menu-pc span {
  padding-left: 8px;
}

.border {
  margin: 4px 0;
  border: 0.5px solid black;
  width: 94%;
  background: black;
}

.list-menu-mb-login {
  padding-top: 10px;
  position: fixed;
  background: white;
  font-size: 15px;
  text-align: center;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  left: -2000px;
  transition: 0.5s;
}
.list-menu-mb-login li {
  margin-bottom: 10px;
}
.is-left-default {
  left: 0px !important;
}
#nav-mb button {
  display: none;
}
@media (max-width: 480px) {
  .nav-pc,
  .btn-menu,
  .account {
    display: none;
  }
  .logo img {
    width: 43% !important;
  }
  #nav-mb button {
    position: absolute;
    top: 25px;
    right: 10px;
    font-size: 20px;

    display: block;
    color: #48c0fd;
    border: none;
    background: none;
  }
  .input {
    margin-bottom: 10px;
  }
  .banner-image img {
    height: 300px !important;
  }
}
/* body */
ul,
ol,
li {
  padding: 0;
  margin: 0;
}
.po {
  position: absolute;
}
.main-banner {
  position: relative;
  width: 100%;
  background-color: rgba(0, 117, 255, 0.69);
}

.banner-image img {
  position: relative;
  width: 100%;
  height: auto;
  opacity: 0.35;
}

.banner-content {
  width: 100%;
  position: relative;
  top: 20%;
}
h2 {
  margin: 0;
  padding: 0;
  color: aliceblue;
  text-align: center;
  font-weight: normal;
  font-size: 36px;
}

.box-input {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 85%;
  margin: auto;
}

.input {
  position: relative;
  display: block;
}
.input:nth-child(1) {
  flex-basis: 40%;
}
.input:nth-child(2) {
  flex-basis: 25%;
}
.input:nth-child(3) {
  flex-basis: 20%;
}
.input > input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding-left: 45px;
}
#location {
  width: 100%;
  height: 54px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  padding-left: 45px;
  color: #6f6f6f;
}
.icon {
  position: absolute;
  left: 15px;
  line-height: 52px;
}
.icon > i {
  color: #6f6f6f;
}
#search {
  width: 100%;
  flex: 1;
  background: #48c0fd;
  color: aliceblue;
  font-weight: bold;
  height: 55px;
  font-size: larger;
  padding-left: 0;
}
.box-content {
  margin: auto;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.box-content_left {
  border-radius: 3px;
  background-color: aliceblue;
  flex-basis: 66%;
}
.box-content_right {
  flex-basis: 32%;
}
.box-content_right_top {
  border-radius: 3px;
  background-color: aliceblue;
}
.box-content_right_bot {
  border-radius: 3px;
  background-color: aliceblue;
  margin: 20px 0;
}
.box-content_right_bot > img {
  display: block;
  margin: auto;
  padding: 10px 0;
}
.head {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 20px;
}
.content-hot {
  padding: 20px;
  display: flex;
}
.content-img {
  flex-basis: 17%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-img a img {
  width: 95%;
}
.content-hot-infor {
  flex-basis: 63%;
  padding-left: 20px;
}
.content-hot-infor > div {
  padding: 5px 0;
}
.content-hot-infor a div:nth-child(1) {
  font-weight: bold;
  font-size: 18px;
}
.comp:hover {
  color: #696c6d;
}
.content-hot-input {
  flex-basis: 20%;
}
.hover1:hover {
  color: #6b727a;
}
.hover2:hover {
  color: #0e3680;
}
#apply {
  margin-bottom: 15px;
  width: 80%;
  height: 40%;
  border-radius: 5px;
  border: none;
  background-color: #48c0fd;
  color: aliceblue;
  font-weight: bold;
}
#apply:hover {
  color: black;
  height: 45%;
  width: 85%;
  background-color: rgb(164, 183, 199);
}

#search:hover {
  color: black;
  background-color: rgb(164, 183, 199);
  height: 56px;
}
hr {
  width: 85%;
  border: 0.05px solid gray;
}
.more {
  color: #48c0fd;
  text-align: center;
  font-weight: bold;
}
.more:hover {
  color: #0075ff;
}
a {
  text-decoration: none;
  color: black;
}
.catelog-list {
  width: 100%;
  overflow: hidden;
}
#more-view {
  display: none;
}
#myBtn {
  border: none;
  color: #0075ff;
  background-color: aliceblue;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
}
#myBtn:hover {
  font-size: 17px;
  font-weight: bold;
}
ol,
ul {
  list-style: none;
}
.catelog-list ul li {
  display: block;
  height: 37px;
  margin-left: 20px;
  margin-right: 10px;
}

.cate-left {
  float: left;
}
.cate-right {
  float: right;
  color: #6f6f6f;
}
.container-row {
  /* position: absolute; */
  width: 100%;
  padding-top: 30px;
}
.container-row-top {
  width: 85%;
  margin: auto;
}
.top-head {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.top-cent {
  margin-top: 20px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box1 {
  background-color: aliceblue;
  flex-basis: 24%;
  margin: 10px 0;
}
.box1:hover {
  border-radius: 2px;
  border: #48c0fd 2px dashed;
  padding: 10px;
}
.box1 a .img {
  display: block;
  width: 80%;
  height: 130px;
  margin: auto;
}
.box1 a div {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}
.img > img {
  display: block;
  width: 60%;
  margin: auto;
}
.container-row-top1 {
  width: 85%;
  margin: auto;
  background-color: aliceblue;
}
.head2 {
  padding: 20px 20px 10px 20px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(167, 163, 163);
}
.content-row {
  margin: 10px 0;
  border-radius: 3px;
  overflow: hidden scroll;
  width: 100%;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.box2 {
  padding-top: 15px;
  padding-bottom: 10px;
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #cccccc63;
}
.box2:hover {
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 9px;
}

.box2-item:nth-child(1) {
  margin: auto;
  flex-basis: 20%;
}
.box2-item:nth-child(2) {
  margin-top: 10px;
  flex: 55%;
}
.box2-item:nth-child(2) div:nth-child(1) {
  font-weight: bold;
}
.box2-item:nth-child(2) div a {
  color: #2c2b2b;
}
.box2-item:nth-child(3) {
  color: #0c4967;
  text-align: center;
  margin-top: 10px;
  flex-basis: 20%;
}
.box2-item img {
  display: block;
  margin: auto;
}
.container-row-top2 {
  width: 85%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container-row-top2 a img {
  width: 100%;
}
.top-cent1 {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.top-cent1-box1 {
  padding-bottom: 10px;
  background: aliceblue;
  border-radius: 3px;
  overflow: hidden;
  flex-basis: 30%;
}

.container-row-top3 {
  width: 85%;
  margin: auto;
}

.box3-item1 img {
  display: block;
  width: 100%;
  margin: auto;
}
.box3-item2 {
  padding: 15px;
}
.box3-item2-content3 {
  overflow: hidden;
  color: #656565;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.box3-item2-content1 {
  color: #656565;
  font-size: 10px;
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 5px;
}
.box3-item2-content2 {
  color: #000;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 7px;
  line-height: 1.2;
  height: 40px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1200px) {
  .box-content {
    flex-direction: column;
  }
  h2 {
    display: none;
  }
  .box-content_right {
    margin-top: 20px;
  }
}
@media screen and (max-width: 895px) {
  .content-row {
    display: block;
  }
}

@media screen and (max-width: 756px) {
  #search {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .box-content,
  .container-row-top,
  .container-row-top1,
  .container-row-top2,
  .container-row-top3 {
    width: 90%;
  }
}

@media screen and (max-width: 530px) {
  .box1 {
    flex-basis: 46%;
  }
  .content-hot-input,
  .banner-image,
  h2 {
    display: none;
  }
  .banner-image {
    display: none;
  }
  .box-input {
    display: block;
  }
  #search,
  #location,
  #job {
    margin: 5px 0;
  }
  .top-cent1-box1 {
    flex-basis: 32%;
  }
}
@media screen and (max-width: 380px) {
  .top-cent1 {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
}
/* footer */
.logo-footer img {
  width: 296px;
  margin-bottom: 10px;
}
.pd-left {
  padding-left: 45px !important;
}
footer {
  margin-top: 30px;
  background-color: #2a363b;
}

.copyright {
  text-align: center;
  font-size: 13px;
  margin-bottom: 0px;
}
.content1_2 img {
  width: 150px;
  margin-left: -12px;
}
.blue {
  color: #0075ff;
}
.white {
  color: white;
}
h3,
p {
  color: white;
}
.hover:hover {
  text-decoration: underline;
}

@media (max-width: 480px) {
  .pd-left {
    padding-left: 15px !important;
  }
}
