html,
body {
  padding: 0;
  margin: 0;
}
/* header */
.main-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .logo img {
    width: 100%;
  }
  .nav-pc {
    display: flex;
    align-items: center;
    height: 118%;
  }
  .nav-pc li {
    margin-right: 30px;
  }
  .right-main-menu {
    display: flex;
  }
  .right-main-menu button {
    margin-left: 10px;
  }
  .btn-menu {
    border-radius: 12px;
    border: 1px solid rgba(36, 0, 255, 1);
    font-size: 90%;
    font-weight: bold;
    color: #ffffff;
    width: 150px;
    padding: 15px 0px;
    background-color: #48c0fd;
  }
  .account {
    width: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
  }
  .account span {
    margin: 0 25px;
  }
  .account .fa-circle-user {
    font-size: 30px;
    margin-left: -5px;
  }
  .account .fa-sort-down {
    position: absolute;
    top: 13px;
    right: 9px;
  }
  .is-display-none{
    display: none !important;
  }
  .display{
    display: block !important;
  }

  .relative {
    position: relative;
  }
  .ntd {
    border-radius: 12px;
    border: 1px solid rgba(36, 0, 255, 1);
    font-size: 90%;
    font-weight: bold;
    color: #ffffff;
    padding: 15px 0px;
    background-color: blue;
  }
  .list-menu-pc {
    padding: 5px 0;
    font-size: 12px;
    border-radius: 12px;
    background-color: white;
    padding-left: 10px;
    position: absolute;
    right: 158px;
    top: 69px;
    width: 16%;
    border: 1px solid black;
    z-index: 1000;
    margin-left: 10px;
  }
  .menu-list-row a i {
    width: 15px;
  }
  .log-out {
    margin-left: 50%;
    margin-top: 5px;
  }
  .menu-list-row .fa-circle-user {
    font-size: 20px;
  }
  .name-account {
    font-size: 15px;
    font-weight: bold;
  }
  .name-account span {
    font-weight: bold;
    color: #0075ff;
  }
  .list-menu-pc span {
    padding-left: 8px;
  }
  
  .border {
    margin: 4px 0;
    border: 0.5px solid black;
    width: 94%;
    background: black;
  }
  
  .list-menu-mb-login {
    padding-top: 10px;
    position: fixed;
    background: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    left: -2000px;
    transition: 0.5s;
  }
  .list-menu-mb-login li {
    margin-bottom: 10px;
  }
  .is-left-default {
    left: 0px !important;
  }
  .menu-list-row a:hover, .log-out a:hover{
    color:blue;
  }
  /*Responsive*/
  #nav-mb button {
    display: none;
  }
  @media (max-width: 830px) {
    .list-menu-pc {
        display: none;
    }
    .nav-pc,
    .btn-menu,
    .account {
      display: none;
    }
    .logo img {
      width: 43% !important;
    }
    #nav-mb button {
      position: absolute;
      top: 25px;
      right: 10px;
      font-size: 20px;
  
      display: block;
      color: #48c0fd;
      border: none;
      background: none;
    }
  }
/* body */
#body{
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 25px;
}
#body .hinhAnh{
    position: relative;
}
#body img{
    width: 100%;
    height: 153px;
}
#contentBody{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 48px;
    padding-left: 5px;
}
#contentBody .leftContent{
    flex: 1;
}
#contentBody .leftContent .leftTopContent{
    width: 100%;
    height: 220px;
    background-color: #FFFFFF;
    margin: 0px;
    border: 1px solid black;
    position: relative;
    box-shadow: 1px 1px 10px #888888;

}
#contentBody .leftContent .leftTopContent .myPost{
    position: absolute;
    width: 249px;
    height: 31px;
    left: 5%;
    top: 8px;
    font-weight: 400;
    font-size: 20px;
}
#contentBody .leftContent .leftTopContent .viewAll{
    position: absolute;
    width: 35%;
    height: 29px;
    left: 82%;
    top: 12px;
    font-weight: 400;
    font-size: 15px;
}
#contentBody .leftContent .leftTopContent .viewAll a{
text-decoration: none;color: #0075FF;}
#contentBody .leftContent .leftTopContent .viewAll:hover a{
  text-decoration: underline;
}

#contentBody .leftContent .leftTopContent .bodyPost, #contentBody .leftContent .leftBottomContent .bodyPost{
    position: absolute;
    width: 100%;
    height: 29px;
    top: 94px;
    font-weight: 400;
    font-size: 15px;
    color: #9C9898;
    justify-content: center;
    text-align: center;
}
#contentBody .leftContent .leftBottomContent{
    width: 100%;
    height: 220px;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin-top: 38px;
    position: relative;
    box-shadow: 1px 1px 10px #888888;
}
#contentBody .leftContent .leftBottomContent .myPost{
    position: absolute;
    width: 249px;
    height: 31px;
    left: 5%;
    top: 8px;
    font-weight: 400;
    font-size: 20px;
}
#contentBody .leftContent .leftBottomContent .tatCa_chuaXem{
    position: absolute;
    width: 115px;
    height: 25px;
    left: 55%;
    top: 12px;
    background: #D9D9D9;
    border-radius: 8px;
}
#contentBody .leftContent .leftBottomContent .tatCa_chuaXem .tatCa{
    position: absolute;
    height: 20px;
    left: 6px;
    top: 3px;
    font-size: 13px;
}
#contentBody .leftContent .leftBottomContent .tatCa_chuaXem .chuaXem{
    position: absolute;
    height: 20px;
    left: 50px;
    top: 3px;
    font-size: 13px;
}
#contentBody .leftContent .leftBottomContent .tatCa_chuaXem a{
    text-decoration: none;
    color: #000;
}
#contentBody .leftContent .leftBottomContent .tatCa:hover a{
    background-color: #FFFFFF;
    border-radius: 3px;
    
}
#contentBody .leftContent .leftBottomContent .chuaXem:hover a{
    background-color: #FFFFFF;
    border-radius: 3px;
}
#contentBody .leftContent .leftBottomContent .viewAll{
    position: absolute;
    width: 35%;
    height: 29px;
    left: 82%;
    top: 12px;
    font-weight: 400;
    font-size: 15px;
}
#contentBody .leftContent .leftBottomContent .viewAll a{
text-decoration: none;
color: #0075FF;
}
#contentBody .leftContent .leftBottomContent .viewAll:hover a{
  text-decoration: underline;
}
#contentBody .rightContent{
    flex: 1;
    height: 320px;
    background-color: #FFFFFF;
    border: 1px solid black;
    margin-left: 40px;
    box-shadow: 1px 1px 10px #888888;
    
}
#contentBody .rightContent .rightTopContent{
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
}
#contentBody .rightContent .rightTopContent .nameCompany{
    position: absolute;
    width: 153px;
    height: 23px;
    left: 158px;
    top: 51px;
    font-weight: 700;
    font-size: 18px;    
}
#contentBody .rightContent .rightTopContent .mail{
    position: absolute;
    width: 30%;
    height: 16.8px;
    left: 158px;
    top: 81.6px;
    font-weight: 700;
    font-size: 14.4px;
    color: #9C9898;    
}
#contentBody .rightContent .rightTopContent .changeView{
    position: absolute;
    top: 150px;
    left: 21px;
    line-height: 30px;
}
#contentBody .rightContent .rightTopContent .changeView a{
    text-decoration: none;
    color: #48C0FD;
}
#contentBody .rightContent .rightTopContent .changeView .change:hover a, #contentBody .rightContent .rightTopContent .changeView .view:hover a{
    text-decoration: underline;
}
#contentBody .rightContent .rightTopContent .ngayDK{
    position: absolute;
    width: 178.8px;
    height: 17.4px;
    left: 21.6px;
    top: 285px;
    font-weight: 400;
    font-size: 15px;
}
#contentBody .rightContent .rightTopContent .exit{
    position: absolute;
    width: 70px;
    height: 17.4px;
    left: 80%;
    top: 285px; 
    font-weight: 400;
    font-size: 15px;
}
#contentBody .rightContent .rightTopContent img{
    position: absolute;
    width: 112px;
    height: 112px;
    left: 25px;
    top: 21px;

}
/* footer */
.logo-footer img {
    width: 296px;
    margin-bottom: 10px;
  }
  footer {
    margin-top: 40px;
    background-color: #2A363B;
  }
  
  .copyright {
    text-align: center;
  }
  .content1_2 img {
    width: 150px;
    margin-left: -12px;
  }
  .blue {
    color: #0075ff;
  }
  h3,p{
      color: white;
  }
  .hover:hover{
      text-decoration: underline;
  }
@media screen and (max-width: 990px){
    #content_header{
    padding-left: 0%;
    }
    #body img{
        width: 100%;
        height: auto;
    }
    #contentBody{
        display: flex;
        flex-direction: column;
    }
    #footer{
        margin-top: 50px;
    }
    #contentBody .leftContent{
        width: 100%;
    }
    #contentBody .rightContent .rightTopContent{
        background-color: #FFFFFF;
        height: 320px;
    }
    #contentBody .rightContent{
        height: 320px;
        margin-left: 0px;
        margin-top: 40px;
    }
    #contentBody .rightContent .rightTopContent .changeView{
        left: 40%;
    }
}
@media screen and (max-width: 768px){
    #contentBody .leftContent .leftBottomContent .myPost{
        font-size: 18px;
    }
}
@media screen and (max-width: 650px){
    #body img{
        width: 100%;
        height: auto;
    }
    #contentBody .leftContent .leftBottomContent .myPost{
        font-size: 17px;
    }
    #contentBody .leftContent .leftBottomContent .tatCa_chuaXem{
        top: 35px;
        left: 69%;
    }
}
@media screen and (max-width: 580px){
    #body img{
        width: 100%;
        height: auto;
        margin-top: -20px;
    }
    #contentBody .leftContent .leftBottomContent .myPost{
        font-size: 16px;
    }
}
@media screen and (max-width: 480px){
#gach_ngang{
    height: 3px;
}
    #contentBody .leftContent .leftBottomContent .myPost, #contentBody .leftContent .leftTopContent .myPost{
        font-size: 15px;
    }
    #contentBody .leftContent .leftTopContent .viewAll, #contentBody .leftContent .leftBottomContent .viewAll{
        left: 70%;
    }
    #contentBody .leftContent .leftBottomContent .tatCa_chuaXem{
        left: 57%;
        font-size: 15px;
    }
    #contentBody .rightContent .rightTopContent .mail{
        font-size: 10px;
        top: 75px;
    }
    #contentBody .rightContent .rightTopContent .changeView{
        font-size: 15px;
        left: 15%;
    }
    #contentBody .leftContent{ 
        margin-top: -20px;
    }
    #contentBody .rightContent .rightTopContent .exit{
      left: 75%;
    }
}
