html,
body {
  padding: 0;
  margin: 0;
}
/* header */
.main-menu {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .logo img {
    width: 100%;
  }
  .nav-pc {
    display: flex;
    align-items: center;
    height: 118%;
  }
  .nav-pc li {
    margin-right: 30px;
  }
  .right-main-menu {
    display: flex;
  }
  .right-main-menu button {
    margin-left: 10px;
  }
  .btn-menu {
    border-radius: 12px;
    border: 1px solid rgba(36, 0, 255, 1);
    font-size: 90%;
    font-weight: bold;
    color: #ffffff;
    width: 150px;
    padding: 15px 0px;
    background-color: #48c0fd;
  }
  .account {
    width: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid black;
  }
  .account span {
    margin: 0 25px;
  }
  .account .fa-circle-user {
    font-size: 30px;
    margin-left: -5px;
  }
  .account .fa-sort-down {
    position: absolute;
    top: 13px;
    right: 9px;
  }
  .is-display-none{
    display: none !important;
  }
  .display{
    display: block !important;
  }

  .relative {
    position: relative;
  }
  .ntd {
    border-radius: 12px;
    padding: 15px 0px;
    border: 1px solid #0075ff;
    font-size: 90%;
    padding: 15px 0px ;
    font-weight: bold;
    color: #ffffff;
    background-color: blue;
  }
  .list-menu-pc {
    padding: 5px 0;
    font-size: 12px;
    border-radius: 12px;
    background-color: white;
    padding-left: 10px;
    position: absolute;
    right: 158px;
    top: 69px;
    width: 16%;
    border: 1px solid black;
    z-index: 1000;
    margin-left: 10px;
  }
  .menu-list-row a i {
    width: 15px;
  }
  .log-out {
    margin-left: 50%;
    margin-top: 5px;
  }
  .menu-list-row .fa-circle-user {
    font-size: 20px;
  }
  .name-account {
    font-size: 15px;
    font-weight: bold;
  }
  .name-account span {
    font-weight: bold;
    color: #0075ff;
  }
  .list-menu-pc span {
    padding-left: 8px;
  }
  
  .border {
    margin: 4px 0;
    border: 0.5px solid black;
    width: 94%;
    background: black;
  }
  
  .list-menu-mb-login {
    padding-top: 10px;
    position: fixed;
    background: white;
    font-size: 15px;
    text-align: center;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    left: -2000px;
    transition: 0.5s;
  }
  .list-menu-mb-login li {
    margin-bottom: 10px;
  }
  .is-left-default {
    left: 0px !important;
  }
  .menu-list-row a:hover, .log-out a:hover{
    color:blue;
  }
  /*Responsive*/
  #nav-mb button {
    display: none;
  }
  @media (max-width: 830px) {
    .list-menu-pc {
        display: none;
    }
    .nav-pc,
    .btn-menu,
    .account {
      display: none;
    }
    .logo img {
      width: 43% !important;
    }
    #nav-mb button {
      position: absolute;
      top: 25px;
      right: 10px;
      font-size: 20px;
  
      display: block;
      color: #48c0fd;
      border: none;
      background: none;
    }
  }
  /* menu-account */
.emp-menu {
  height: 50px;
  align-items: center;
  background-color: #deefff;
  border-top: 2px solid #48c0fd;
}
.box-menu-pc {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}
.main {
  margin: 50px 5%;
}
  /* body */

  #body{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  }
  #body_left{
    width: 100%;
    max-width: 900px;  
  }
  #content_body_left{
  justify-content: center;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  }
  #file_created{
    background: #00A9FF;
    border-radius: 15px 15px 0px 0px;
    font-weight: bolder;
  }
  #content_body_left p{
    margin-left: 5%;
    color: black;
    padding-top: 8px;
  }
  #you_create_file, #xapsep, #file_created{
    width: 100%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.31);
    min-height: 40px;
    height: auto;
  }
  #xapsep input{
    margin-left: 5%;
  }
  #line{
    width: 94%;
    margin-left: 3%;
    margin-top: 20px;
    height: fit-content;
    background-color: 
    rgba(72, 192, 253, 0.06);
    display: flex;
  }
  #left{
    width: 67%;
  }
  #right{
    width: 23%;
    display: flex;
    align-items: center;
    padding-left: 9.5%;
  }
  .center{
    display: flex;
    align-items: center;
  }
  .blue_line{
    background-color:#00A9FF;
    height: 2px;
    margin-top: 10px;
  }
  #line img{
    margin-left: 2%;
    margin-top: 10px;
  }
  #line .line_job, #line .line_company{
    padding-left: 25%;
    width: 92%;
  }
  #line .line_job{
    padding-top: 7%;
  }
  .btn_dangcho{
    background-color: rgba(250, 155, 12, 1);
    border-radius: 5px;
    border: #ffffff 1px solid;
  }
  .container_grey{
    display: flex;
    background-color: #D9D9D9;
    justify-content: space-between;
    height: fit-content;
    padding: 1%;
  }
  .grey_left{
    flex-basis: 50%;
    text-align: center;
  }
  .grey_right{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
  }
  .ngayungtuyen{
    flex-basis: 55%;
    text-align: right;
  }
  .trangthai{
    flex-basis: 30%;
  }
  #line .line_job{
    font-weight: bolder;
    height: fit-content;
  }
  #line .line_company{
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
    height: 30px;
  }
  #line .line_button{
    float: left;
    margin-left: 3%;
    width: 12%;
    background: rgba(217, 217, 217, 0.48);
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    text-align: center;
  }
  #line .line_save{
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    margin-top: 5px;
    
  }
  #line .line_no-save{
    background: rgba(217, 217, 217, 0.48);
    color: rgba(0, 0, 0, 0.65);
    font-size: 12px;
    text-align: center;
    width: 30%;
    float: right;
    margin-top: 10px;
  }
  #line .line_no-save:hover a{
    color: #0075ff;
  }
  #body_right{
    width: 25%;
    border-radius: 8px;
    min-width: 200px;
    border: 1px solid #D9D9D9;
    height: fit-content;
    padding: 2.5%;
    margin-left: 2%;
  }
  #body_right{
    padding-left: 2%;
  }
  .page{
    display: flex;
    justify-content: center;
  }
  .page > span {
    padding: 2%;
  }
  .page_2 {
    height: fit-content;
    margin-top: 2%;
    border-radius: 5px;
    background-color: rgba(156, 152, 152, 0.13)
    ;
  }
  .page_1{
    color: #ffffff;
    margin-top: 2%;    
  }
  #page_1{
    color: #ffffff;
    background-color: #00A9FF;
    border: #ffffff 1px solid;
    border-radius: 5px;
  }
  #page_2{
    border: #ffffff 1px solid;
    border-radius: 5px;
  }
  .body_r_t{
    display: flex;
  }
  .body_r_t_l > img{
    width: 100px;
  }
  .body_r_t_r{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding-left: 10%;
  }
  .body_r_b_t{
    padding-top: 10%;
  }
  .body_r_b_t > span{
    font-weight: bold;
    padding-left: 5%;
  }
  @media (max-width < fullscreen) {
    .body_right{
        width: 100%;
    }
  }
  /* footer */
.logo-footer img {
    width: 296px;
    margin-bottom: 10px;
  }
  footer {
    margin-top: 40px;
    background-color: #2A363B;
  }
  
  .copyright {
    text-align: center;
  }
  .content1_2 img {
    width: 150px;
    margin-left: -12px;
  }
  .blue {
    color: #0075ff;
  }
  h3,p{
      color: white;
  }
  .hover:hover{
      text-decoration: underline;
  }

  .text_status-on{
    margin-left: 8%;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 35px;
  }
  .text_status-off{
    margin-left: 8%;
    margin-top: 30px;
    font-weight: bolder;
    line-height: 35px;
    display: none;
  }
  .st-on-off-off{
    width:46px;
    height: 20px;
    background-color: red;
    float: left;
    margin-top: 10px;
    border-radius: 100px;
    border: 1px solid;
  }
  .on-off-off{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    margin-top: -1px;
    margin-left: -1px;
  }
  .st-on-off-off{
    width:46px;
    height: 20px;
    background-color: red;
    float: left;
    margin-top: 10px;
    border-radius: 100px;
    border: 1px solid;
  }
  .on-off-off{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 100px;
    border: 1px solid;
    margin-top: -1px;
    margin-left: -1px;
  }
